# Temporary (backup) files
*.tmp

# Owner files
*[\~][\$]*
[\~][\$]*

# PPT, Word, Excel files (usually too large)
*.pptx
*.ppt
*.pptm
*.docx
*.doc
*.xlsx

# Images
*.jpg
*.gif
*.png
*.svg
*.ico

# Video:
*.wmv
*.mpg
*.mpeg
*.mp4
*.mov
*.flv
*.avi
*.ogv
*.ogg
*.webm

# Audio:
*.wav
*.mp3
*.wma

# Fonts:
*.eot
*.ttf
*.woff